@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 40, 12, 2;
    --light-rgb: 250, 248, 240;
    --background-start-rgb: 120, 44, 17;
    --background-end-rgb: 43, 13, 3;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 120, 44, 17;
        --background-start-rgb: 40, 12, 2;
        --background-end-rgb: 120, 44, 17;
    }
}

body {
    color: rgb(var(--light-rgb));
    background: linear-gradient(
            to right,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}
